<mat-vertical-stepper linear="true" animationDuration="20">
    <mat-step label="Your Cart">
        <app-shopping-cart-list [cart]="cart()" [total]="total()" (removeItem)="removeFromCart($event)"/>
        <button mat-raised-button color="primary" [disabled]="cart().length <= 0" matStepperNext>Confirm</button>
    </mat-step>
    <mat-step label="Shipping Details">
        <!-- personal details -->
        <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Payment Details">
        <!-- payment details -->
        <button mat-raised-button color="primary" matStepperNext>Order</button>
    </mat-step>
</mat-vertical-stepper>