<mat-toolbar color="primary" style="height: 10%;">
  <h1>{{ title }}</h1>
  <span class="spacer"></span>
  <button
    mat-icon-button
    [matBadge]="cartItemCount()"
    matBadgeColor="warn"
    [matBadgeHidden]="cartItemCount() <= 0"
    matBadgeSize="medium">
    <mat-icon>shopping_basket</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container style="height: 90%;">
  <mat-drawer mode="side">
    <p>Menu</p>
  </mat-drawer>
  <mat-drawer-content class="mat-app-background">
    <router-outlet></router-outlet>
</mat-drawer-content>